body {
    min-width: 1000px;
    /* overflow: scroll; */
}

header {
    background-color: green;
    height : 3em;
    font-family: arial, sans-serif;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div,
header a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
    font-size: 1.5em;
    color: yellow;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.nav-logo {
    color: white;
    font-size: 2.5em;
    margin: 0;
}

.nav-list {
    margin-right: 0.5em;
}

.nav-dropdown {
    display: none;
    position: fixed;
    top: 0.5em;
    right: 0;
    padding: 0.2em;
    background-color: #f1f1f1;
    border: 2px solid red;
    color: black;
    font-size: 1em;
    white-space: nowrap; 
}

.nav-dropdown .left {
    float: left;
    white-space: nowrap; 
}

.nav-dropdown .right {
    float: right;
    white-space: nowrap; 
}

.nav-list:hover {
    text-decoration: underline;
}

.nav-list:hover .nav-dropdown {
    display: block;
}

.nav-input {
    margin-top: 0.4em;
    width: 1em;
}

.checkout-button {
    border-radius: 1em;
    border: none;
    background-color: grey;
    text-align: center;
    height: 1.5em;
    min-width: 3em;
    font-size: 0.8em;
    color: yellow;
}

.checkout-button:hover {
    background-color: yellow;
    color: black;
}
